body
{
    background-color: silver;
    color: blue;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20pt;
}

.menu
{
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
    margin: 5px;
    position: fixed;
    top: 0px;
    width: 100%;
}

.menu a
{
    font-weight: bold;
    text-decoration: none;
    color: white;
    padding: 10px;
}

.menu a:hover
{
    color: yellow;
    background-color: red;
}

.aktualis
{
    color:skyblue !important;
}

h1
{
    margin-top: 60px;
}
p
{
    margin:
}